# Application Environment (e.g., development, production, test)
NODE_ENV=development

# The port your server will run on
PORT=3000

# The live URL of the server (used for Swagger UI in production)
SERVER_URL=http://localhost:3000

# PostgreSQL Database Connection String
DATABASE_URL="postgresql://postgres:password@localhost:5432/finance_db"

# JWT Authentication Config
JWT_SECRET="your_super_secret_jwt_key_here"

# Expiration time for the token (e.g., 1h, 7d, 30d)
JWT_EXPIRES_IN=7d